.plan{
    display: flex;

    .planContainer{
        flex: 7;

        .p-24{
            color: rgb(68, 68, 63);
            background-color: rgb(213, 213, 255);

            .hometitle{
                padding-left: 35px;
                padding-bottom: 15px;
                padding-top: 8px;
            }
        }

        .button2{
            padding-left: 40px;
            gap: 20px;

            button{
                width: 220px;
                height: 50px;
                padding: 10px;
                border:none;
                background-color: rgba(225, 167, 247, 0.425);
                font-weight: bold;
                border-radius: 15px;
                color: rgb(132, 0, 184);
                border: 1px solid rgba(203, 141, 228, 0.425);
                margin-top: 5px;
                

                &:hover{
                    background-color: rgb(254, 231, 255);
                }
            }
        }

        .ptable{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;
            border-radius: 15px;
            background-color: rgb(224, 224, 255);

            .ptitle{
                font-weight: bold;
                color: rgb(48, 48, 48);
                margin-bottom: 15px;
                display: flex;
                padding-left: 10px;

                .pbutton{
                    padding: 10px;
                    padding-left: 900px;

                    button{
                        width: 200px;
                        height: 40px;
                        padding: 10px;
                        border:none;
                        background-color: rgba(255, 244, 215, 0.2);
                        font-weight: bold;
                        border-radius: 15px;
                        color: green;
                        border: 1px solid green;
                        margin-top: 5px;
                        
        
                        &:hover{
                            background-color: rgba(0, 170, 0, 0.2);
                        }
                    }
                }
            }
        }
    }
}