.shifts{
    display: flex;

    .shiftsContainer{
        flex: 7;

        .p-24{
            color: rgb(56, 56, 53);
            background-color: rgb(215, 215, 255);

            .hometitle{
                padding-left: 35px;
                padding-bottom: 17px;
                padding-top: 6px;
            }
        }
    }
}