.assessmenttable{
    .heading2{
        .tableCell{
            font-weight: bold;
        }
    }

    .tableCell1{
        font-weight: bold;
        align-items: center;
        gap: 15px;

        .iconp{
            gap: 10px;
            align-items: center;
        }
    }
}