.diettable{
    .heading1{
        .tableCell{
            font-weight: bold;
        }
    }

    .status{
        padding: 5px;
        border-radius: 5px;

        &.Active{
            color: rgb(2, 114, 2);
            background-color: rgba(0, 128, 0, 0.151);
        }
    }

    .icon01{
        padding: 2px 5px;
        padding-top: 13px;
        padding-bottom: 1px;
        border-radius: 4px;
        color: rgb(183, 0, 255);
        border: 1px solid rgba(203, 141, 228, 0.425);
        cursor: pointer;

        &:hover{
            background-color: rgba(225, 167, 247, 0.425);
        }
    }
}