.exercisetable{
    height: 460px;
    padding: 20px;

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 2px 5px;
            padding-top: 4px;
            padding-bottom: 2px;
            border-radius: 5px;
            color: rgb(183, 0, 255);
            border: 1px solid rgba(203, 141, 228, 0.425);
            cursor: pointer;

            &:hover{
                background-color: rgba(225, 167, 247, 0.425);
            }
        }
    }
}